@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.palanquin-thin {
  font-family: "Palanquin", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.palanquin-extralight {
  font-family: "Palanquin", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.palanquin-light {
  font-family: "Palanquin", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.palanquin-regular {
  font-family: "Palanquin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.palanquin-medium {
  font-family: "Palanquin", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.palanquin-semibold {
  font-family: "Palanquin", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.palanquin-bold {
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}